<div class="address">
  <%= station.address.street %>
  <%= station.address.city %>, <%= station.address.state %>
  <%= station.address.zipcode %>
</div>
<% unless station.address.description.nil? %>
  <strong>Location: </strong>  <%= station.address.description %>
<% end %>
