<div class="address">
  <%= station.street %>
  <%= station.city %>, <%= station.state %>
  <%= station.zipcode %>
</div>
<% unless station.location.nil? %>
  <strong>Location: </strong>  <%= station.location %>
<% end %>
