<div class="show-page">
  <header class="show-page-header">
    <h1><a href='/'>FuelFinder <span>Find the alternative fuel stations near you...</span></a>
    </h1>
  </header>

  <div id="page-container">
    <div id="show-content">
      <h3 class="name"><%= @station.name %></h3>
      <div id="directions">
        <div id="map">
          <img src="http://api.tiles.mapbox.com/v3/pzula.h69mf89n/pin-m-car(<%= @station.longitude %>,<%= @station.latitude %>)/<%= @station.longitude %>,<%= @station.latitude %>,15/750x300.png">
        </div>
        <%= render partial: 'address', locals: { station: @station } %>
      </div>

      <div class="show-column1">
        <div class="time">
          <strong>Open: </strong>
          <%= @station.open %>
        </div>

        <div class="products">
          <% unless @station.fuel_type.nil? %>
          <strong>Fuel Type: </strong>
          <%= @station.fuel_type %>
          <% end %>
          <% unless @station.payment.nil? %>
          <strong>Payments Accepted:</strong> <%= @station.payment %>
          <% end %>
        </div>
      </div>
    </div>
    
    <button id="review"> Review this station </button>

    <div class='review-form'>
      <button id="close-form"> x </button>
      <h3 class="form-header"> Share what you know about this station! </h3>
      <%= render partial: '/reviews/review_form', locals: { station_id: @station_id } %>
    </div>

    <br>
    <div class="reviews-summary">
      <h2>Reviews for this station:</h2>
      <%= render partial:"reviews/review", collection: @reviews %>
    </div>
  </div>
</div>

<script>
jQuery(document).ready(function() {
  $('.review-form').hide();
  $("button#review").click(function (e){
    $('.review-form').toggle();
  });
  $("button#close-form").click(function (e){
    $('.review-form').hide();
  });
};

</script>
